<div class="wrapper">
  
  <div class="app-wrapper">
    
    <div class="header-wrapper">
      
    </div>
    
    <div class="body-wrapper">
      
      <ul class="track-list">
        
        <li>
          
          <div class="unit columns on-3 same-height track">
              <div class="fixed column cover-art-wrapper">
                
                <div class="cover-art"></div>
                
                <div class="cover-art-bezel"></div>
                
              </div>
              
              <div class="elastic column  info-wrapper">
                
                <div class="track-artist">Artist Name</div>
                <div class="track-name">Track Name</div>
                
              </div>

              <div class="fixed column track-controls">
                    <div class="button queue">
                        <i class="icon icon-cloud-download"></i>
                    </div>

                    <div class="button unfold-editor">
                        <i class="icon icon-pencil"></i>
                    </div>
              </div>
          </div>

          <div class="unit track-editor">
            <div class="form-wrapper">
                
                <div class="form-body">
                
                    <form>
                        
                        <label>
                            <div class="field-name">Fieldname</div>
                            <input class="full-width field-value" type="text">
                        </label>

                    </form>

                </div>

                <div class="full-width clearfix form-footer">

                        <div class="button reset">
                            <i class="icon icon-remove-sign"></i>
                            <span>Reset data</span>
                            <div class="shade"></div>
                        </div>

                        <div class="button save">
                            <i class="icon icon-cloud-download"></i>
                            <span>Save custom data</span>
                            <div class="shade"></div>
                        </div>

                </div>

            </div>
          </div>

        </li>
        

      </ul>
      
    </div>
    
    <div class="footer-wrapper">
      
    </div>
    
  </div>
  
</div>