<div class="wrapper">
  
  <div class="app-wrapper">
    
    <div class="header-wrapper">
      
    </div>
    
    <div class="body-wrapper">
      
      <ul class="track-list">
        
        <li>
          
          <div class="unit columns on-2 same-height track">
              <div class="fixed column cover-art-wrapper">
                
                <div class="cover-art"></div>
                
                <div class="cover-art-bezel"></div>
                
              </div>
              
              <div class="elastic column  info-wrapper">
                
                <div class="track-artist">Artist Name</div>
                <div class="track-name">Track Name</div>
                
              </div>
          </div>

          <div class="unit track-editor">
            <div class="form-wrapper">
                
                <div class="form-body">
                
                    <form>
                        
                        <label>
                            <div class="field-name">Fieldname</div>
                            <input class="full-width field-value" type="text">
                        </label>

                    </form>

                </div>

                <div class="form-footer">
                    
                </div>

            </div>
          </div>

        </li>
        

      </ul>
      
    </div>
    
    <div class="footer-wrapper">
      
    </div>
    
  </div>
  
</div>