<html>
    <head>
        <title>Project v0.0</title>
        <?- partial('assets') ?>
        <script>
          console.log('> ', <?- a ?> );
        </script>
    </head>
    
    <body>
      <?- partial('body') ?>
    </body>

</html>