<html>
    <head>
        <title>Project v0.0</title>
        <?- partial('assets') ?>
    </head>
    
    <body>
      <?- partial('body') ?>
    
    <script>
        window.soundGround.start.call(window);
    </script>

    </body>

</html>