bezel(top right bottom left)
  $colors = top right bottom left
  $shadows = ()
  for $current_color, i in $colors
    if $current_color > 0
      $shade = '255,255,255,'+$current_color
    else
      $shade = '0,0,0,'+$current_color
    if i == 0
      $direction = '0 1px'
    else if i == 1
      $direction = '1px 0'
    else if i == 2
      $direction = '-1px 0'
    else if i == 3
      $direction = '0 -1px'
    push($shadows,'(inset '+$direction+' 0 0 rgba('+$shade+','+$current_color+')')
    $string = join(',',$shadows) 
  @box-shadow(unquote($string))


ul, li
  padding : 0;
  margin : 0;

body
  padding-top : 60px;
  font-family: 'Yanone Kaffeesatz', sans-serif;

input
  font-family: 'Yanone Kaffeesatz', sans-serif;

.modal.client-id
  form
    margin-bottom : 0;

  input.client-id
    height      : 50px;
    font-weight : bold;
    font-size   : 28px;
    width       : 100%;
    color       : #333333;

.app-wrapper
  width : 300px;
  margin : auto;
  background-color #333;

  .header-wrapper
    height : 50px;
    background-color #52f;

  .body-wrapper
    height : 500px;
    
 
  .footer-wrapper
    height : 50px;
    background-color #25d;

.body-wrapper

  .track-list

    .track
      height : 50px;
      padding : 10px

      .cover-art-wrapper
        position : relative;
        width : 50px;
        height : 50px;

        >div
          width : 50px;
          height : 50px;

        .cover-art-bezel
          bezel(0.30, 0.30, 0, 0.20);
          position : absolute;
          top : 0;
          left : 0;

        .cover-art
          position : absolute;
          top : 0;
          left : 0;
          background-image : url('/img/at.jpg');
          background-size : cover;

  .info-wrapper
    
    bezel(0.30, 0.30, 0, 0.20);
    
    background : #363636 url('/img/always_grey.png') 0 0 repeat;
    color : #dedede;
    text-shadow : 0 -1px rgba(0,0,0,.8);
      
    >div
      margin-left : 5px;

    .track-artist
      margin-top : 5px;
      font-size : 20px;
      font-weight : bold;

    .track-name
      font-size : 18px;