body
  padding-top : 60px;
  font-family: 'Roboto Condensed', sans-serif

input
  font-family: 'Roboto Condensed', sans-serif

.modal.client-id
  form
    margin-bottom : 0;

  input.client-id
    height      : 50px;
    font-weight : bold;
    font-size   : 28px;
    width       : 100%;
    color       : #333333;


.tracks-wrapper
  
  .tracklist
    padding : 0;
    margin  : 5px;

    .track
      overflow: hidden;
      box-shadow: 0 0 0 1px #000, 0 0 3px 0 rgba(0,0,0,.5) ;
      margin-bottom : 15px;
      @border-radius (3px);
      
      .sync-gutter
        background-color : #DDDDDD;
        width : 20px;

        .sync-check
          margin : 4px;

      .cover-art
        height : 85px;
        width  : 85px;

        background-color    : #CCCCCC;
        background-position : center center;
        // background-image    : url('/img/at.jpg');
        background-size     : cover;
        background-repeat   : no-repeat;

      .data-wrapper
        background-color: #DDDDDD;

        .data
          padding : 5px;

          input
            margin-bottom : 0;
            display     : block;
            height      : 30px;
            font-weight : bold;
            font-size   : 12px;
            width       : 100%;
            color       : #333333;

            &.artist-name
              margin-bottom : 5px;
              font-size   : 22px;
              height      : 40px;

